body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(129, 116, 116);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

header {
    align-items: center;
    height: 7%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.fa-align-justify {
    font-size: 2em;
    position: absolute;
    top: 16px;
    left: 10px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jméno {
    font-size: 1.5em;
    font-weight: bold;
}

.jméno span {
    color: goldenrod;
}

.záložky {
    align-items: center;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;

    font-size: 1em;
    font-weight: bold;
}

a {
    color: rgb(129, 116, 116);
    text-decoration: none;
}

.p {
    display: flex;
    flex-direction: row;
}

.záložky i {
    font-size: 2em;
}

.záložky :nth-child(2n) {
    color: rgba(4, 4, 255, 0.75)
}

nav i {
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 3%;
}

footer div {
    width: 80%;
}

.vysouvací {
    position: absolute;
    flex-direction: column;
    display: flex;
    height: 90%;
    width: 0%;
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: none;
    background-color: rgb(51,51,51);
    transition: 0.25s;
    overflow: hidden;
    top: 65px;
}

.vysouvací a {
    padding: 10px;
    font-size: 20px;
}
main{
    display: flex;
    height: 90%;
    justify-content: center;
}
.obsah{
    padding-top: 10px;
    width: 75%;
    height: 100%;
    color: black;
}
.se-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;
    font-size: 1.5em;
    list-style-type:upper-latin;
}
.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7em;
    padding-left: 10px;
    list-style: none;
}
.se-list li{
    color: goldenrod;
    width: 30%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color:rgb(136, 132, 132);
    margin-top: 10px;
}
.list li{
    width: 100%;
    border: none;
    color: black;
}
@media(max-width: 1440px) {
    .se-list li{
        width: 80%;
    }
    .se-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .obsah{
        height: fit-content;
    }
    .vysouvací a{
        font-size: 20px;
    }
    .vysouvací{
        top: 58px;
    }
    .fa-align-justify{
        top: 12px;
    }
}
@media(max-width: 1024px) {
    .se-list li{
        width: 80%;
    }
    .vysouvací a{
        font-size: 20px;
    }
    .vysouvací{
        top: 58px;
    }
    main{
        overflow-y:scroll;
    }
}
@media(max-width: 768px){
    .se-list{
        grid-template-columns: repeat(2, 1fr);
        
    }
}
@media(max-width: 425px){
    .se-list{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .se-list>li{
        width: 100%;
    }
    .jméno{
        font-size: 1em;
    }
    .záložky{
        width: 125px;
    }
    .záložky i{
        font-size: 1.5em;
    }
    header{
        justify-content: flex-end;
    }
    nav{
        width: 90%;
    }
    .fa-align-justify{
        top: 16px;
        font-size: 1.5em;
    }
    .vysouvací a{
        font-size: 40px;
    }
}