body {
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(127, 127, 127);
    color: rgb(129, 116, 116);
    transition: 0.5s;
}

header {
    align-items: center;
    height: 7%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.fa-align-justify {
    font-size: 2em;
    position: absolute;
    top: 16px;
    left: 10px;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jméno {
    font-size: 1.5em;
    font-weight: bold;
}

.jméno span {
    color: goldenrod;
}

.záložky {
    align-items: center;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;

    font-size: 1em;
    font-weight: bold;
}

a {
    color: rgb(129, 116, 116);
    text-decoration: none;
}

.p {
    display: flex;
    flex-direction: row;
}

.záložky i {
    font-size: 2em;
}

.záložky :nth-child(2n) {
    color: rgba(4, 4, 255, 0.75)
}

nav i {
    font-size: 1.5em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 3%;
}

footer div {
    width: 80%;
}

.vysouvací {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 0%;
    background-color: rgb(51, 51, 51);
    transition: 0.25s;
    overflow: hidden;
    top: 65px;;
    z-index: 1;
}

.vysouvací a {
    padding: 10px;
    font-size: 20px;
}


main {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.obsah {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.piny {
    width: 40%;
    height: 100%;
    background-color: rgb(127, 127, 127);
    font-family: 'Pacifico';
    font-style: italic;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}

.mapa {
    color: black;
    width: 1120px;
    height: 652px;
    display: flex;
    align-items: center;
    position: relative;
}

.piny>h1 {
    padding-top: 30px;
    font-size: 3em;
    text-decoration: underline;
    color: goldenrod;
}

.předměty {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.Itemi {
    display: flex;
    flex-direction: column;
    align-items: center
}
.Itemi:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
}
.Itemi:last-child .druhy{
    grid-template-columns: repeat(1, 5fr) repeat(1, 1fr) repeat(1, 5fr) repeat(1, 1fr);
}
.Itemi>h3 {
    color: goldenrod;
    font-size: 2em;
    text-decoration: underline;
}

.Itemi>h3:hover {
    cursor: pointer;
}

.druhy {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 11fr) repeat(1, 1fr);
    gap: 10px;
    font-size: 1.25em;
}

.druhy p:hover {
    cursor: pointer;
}

.mapa-obr {
    border-radius: 20px;
    border: 5px black solid;
    height: 100%;
    width: 100%;
}

.fa-map-marker {
    position: absolute;
    font-size: 2em;
}

.Regala {
    top: 95px;
    left: 215px;
    color: rgb(0, 197, 247);
}

.Varan {
    top: 135px;
    left: 160px;
    color: rgb(0, 197, 247);
}

.Kaufland {
    top: 250px;
    left: 165px;
    color: rgb(0, 197, 247);
}

.Norma {
    top: 145px;
    left: 590px;
    color: rgb(0, 197, 247);
}

.Špirkova {
    top: 280px;
    left: 915px;
    color: rgb(0, 197, 247);
}

.Zš {
    top: 320px;
    left: 380px;
    color: rgb(0, 197, 247);
}
.Weed{
    top: 175px;
    left: 215px;
    color: rgb(255, 0, 0);
}
.Autosalon{
    top: 200px;
    left: 410px;
    color: rgb(255, 0, 0);
}
.Kad{
    top: 180px;
    left: 770px;
    color: rgb(255, 0, 0);
}
.TenRyt{
    top: 85px;
    left: 310px;
    color: rgb(0, 0, 0);
}
.inVosa{
    top: 340px;
    left: 480px;
    color: rgb(0, 0, 0);
}
.outVosa{
    top: 375px;
    left: 490px;
    color: rgb(0, 0, 0);
}
.TenZár{
    top: 140px;
    left: 755px;
    color: rgb(0, 0, 0);
}
.Pryt{
    top: 180px;
    left: 250px;
    color: white;
}
.Pobi{
    top: 80px;
    left: 725px;
    color: white;
}
.Pšpi{
    top: 325px;
    left: 870px;
    color: white;
}
.Pvar{
    top: 135px;
    left: 170px;
    color: white;
}
.Malo{
    top: 215px;
    left: 130px;
    color: goldenrod;
}
.Rmin{
    top: 110px;
    left: 145px;
    color: goldenrod;
}
.Smin{
    top: 240px;
    left: 960px;
    color: goldenrod;
}
.Kmin{
    top: 400px;
    left: 145px;
    color: goldenrod;
}
.Imin{
    top: 270px;
    left: 695px;
    color: goldenrod;
}
.Zmin{
    top: 100px;
    left: 880px;
    color: goldenrod;
}
.Zsmin{
    top: 340px;
    left: 405px;
    color: goldenrod;
}
.Ukryt{
    top: 280px;
    left: 905px;
    color: goldenrod;
}
@media(max-width: 1440px) {
    .fa-align-justify {
        top: 12px;
    }
    .vysouvací{
        top: 58px;
    }
    .obsah{
        height: 100%;
        width: 95%;
    }
    .předměty{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        overflow-y: scroll;
    }
    .Itemi:last-child .druhy{
        grid-template-columns: repeat(1, 11fr) repeat(1, 1fr);
    }
    .piny>h1{
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 2em;
    }
    .Itemi>h3{
        font-size: 1.5em;
    }
    .druhy{
        font-size: 1em;
    }
    .piny{
        width: 23%;
    }
}
@media(max-width: 1024px) {
    .fa-map-marker{
        font-size: 1em;
    }
    .mapa{
        width: 560px;
        height: 326px;
    }
    .piny{
        height: 100%;
        width: 45%;
    }
    .piny>h1{
        padding-top: 20px;
    }
    .předměty {
        padding-top: 10px;
        width: 100%;
        align-items: center;
    }
    .druhy{
        font-size: 1.25em;
    }
    .Norma{
        left: 305px;
        top: 72px;
    }
    .Špirkova{
        left: 470px;
        top: 140px;
    }
    .Regala{
        left: 112px;
        top: 50px;
    }
    .Varan{
        left: 85px;
        top: 66px;
    }
    .Kaufland{
        left: 85px;
        top: 125px;
    }
    .Zš{
        left: 197px;
        top: 160px;
    }
    .Kad{
        left: 395px;
        top: 90px;
    }
    .Weed{
        left: 112px;
        top: 87px;
    }
    .Autosalon{
        left: 212px;
        top: 100px;
    }
    .TenRyt{
        left: 160px;
        top: 42px;
    }
    .TenZár{
        left: 388px;
        top: 70px;
    }
    .inVosa{
        left: 247px;
        top: 170px;
    }
    .outVosa{
        left: 252px;
        top: 187px;
    }
    .Pryt{
        left: 130px;
        top: 90px;
    }
    .Pvar{
        left: 88px;
        top: 66px;
    }
    .Pobi{
        left: 373px;
        top: 40px;
    }
    .Pšpi{
        left: 447px;
        top: 162px;
    }
    .Rmin{
        left: 76px;
        top: 56px;
    }
    .Malo{
        left: 69px;
        top: 108px; 
    }
    .Kmin{
        left: 76px;
        top: 201px; 
    }
    .Imin{
        left: 357px;
        top: 135px; 
    }
    .Zsmin{
        left: 210px;
        top: 170px;
    }
    .Zmin{
        left: 452px;
        top: 50px;
    }
    .Ukryt{
        left: 464px;
        top: 140px;
    }
    .Smin{
        left: 493px;
        top: 121px;
    }
}
@media(max-width: 768px) {
        .obsah{
            flex-direction: column;
        }
        .piny>h1{
           position: absolute;
           width: 95%;
           text-align: center;
        }
        .piny{
            height: 50%;
            width: 100%;
            overflow-x: scroll;
            align-items: flex-start;
        }
        .předměty{
            flex-direction: row;
            align-items: flex-start;
            width: fit-content;
            padding-top: 100px;
        }
        .Itemi{
            width: 290px;
        }
        .mapa>img{
            width: 545px;
        }
    }
@media(max-width: 425px) {
        .mapa{
            transform: rotate(90deg);
            margin-bottom: 120px;
        }
        header{
            justify-content: flex-end;
        }
        nav{
            width: 90%;
        }
        .fa-align-justify{
            top: 16px;
            font-size: 1.5em;
        }   
        .jméno{
            font-size: 1em;
        }
        .záložky{
            width: 125px;
        }
        .záložky i{
            font-size: 1.5em;
        }
        .předměty{
            padding-top: 60px;
            font-size: 0.8em;
        }
        .Itemi{
            width: 240px;
            height: 175px;
            overflow: scroll;
            z-index: 3;
        }
        .piny h1{
            font-size: 1.5em;
        }
        .piny{
            height: 300px;
        }
        .vysouvací{
            height: 100%;
        }
        .vysouvací a{
            font-size: 40px;
        }
        main{
            height: 100%;
        }
        .obsah{
            justify-content: space-between;
        }
    }